/* App.css */
.container {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  text-align: left;
  font-family: Neue Haas Grotesk Display Pro;

.menuBox {
  width: 100%;
  height: 58px;
  background: #1F1A15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logoBox {
    margin-left: 46px;
    width: 28px;
    height: 28px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }

  .menu {
    width: 309px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
    
    .menuItem {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      font-family: 'NeueHaasDisplayMediu';

    }

  .connect {
    /* width: 100px;
    margin-right: 15px; */

    align-items: center;
    border-color: #f39b4b;
    /* border: 1px solid #f39b4b; */
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    width: 160px;
    /* height: 32px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #F39B4B;
    background: #F39B4B;
    border-radius: 6px;
  
    .button {
      color: #000;
      font-size: 16px;
      font-weight: 600px;
      font-family: 'NeueHaasDisplayMediu';
    } */
  }

  .connect, .connect-btn, .connect:hover {
    background: #f39b4b;
    color: #000;
    border-color: #f39b4b;
  }

}

.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/faucet_h5_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  .logoBox {
    margin-top: 39px;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logo {
      width: 100%;
      height: 100%;
    }

  }
  .titleBox {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0.9;

    .title {
      font-family: 'Parabole';
      font-size: 54px;
      /* font-weight: 400; */
      color: #f39b4b;
    }
    
    .desc {
      font-size: 16px;
      /* font-weight: 500; */
      margin-top: 25px;
      color: #fff;
    }
    .descNum {
      color: #f39b4b;
    }

    .rpc {
      font-size: 14px;
      /* font-weight: 500; */
      margin-top: 21px;
      color: #f39b4b;
    }
    .rpc_url {
      color: #f39b4b;
      text-decoration: none;
    }
  }

  .sendBox {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    margin-top: 16px;
    border: 1px solid #31281f;
    background-color: #31281f;
    border-radius: 8px;
    width: 680px;
    padding: 30px 33px 29px 21px;
    /* opacity: 0.9; */

    .send {
      display: flex;
      justify-content: space-around;
      /*align-items: center;*/
      flex-direction: row;
      height: 110px;
    }

    .customInput {
      background: #211a12;
      border: 1px solid #211a12;
      border-radius: 6px;
      color: #ffffff;
      opacity: 0.4;
    }
    
    .customInput::placeholder {
      color: #ffffff; /* 设置placeholder文字颜色为白色 */
    }

  }

}


.faqBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 22px;
  margin-bottom: 50px;
  background-color: #31281F;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  border-radius: 8px;
  height: 298px;
  width: 680px;
  padding: 27px 23px 31px 28px;
  color: #fae6d5;
  opacity: 1;

  .title {
    font-size: 24px;
    
  } 
  .qa {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    font-family: 'NeueHaasDisplayMediu';

  }
  .desc {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    font-family: 'NeueHaasDisplayLight';
  }

}

.alert-error {
  margin-bottom: 20px;
}

}

.sendBtn {
  width: 226px;
  background: #f39b4b !important;
  border: 1px solid #f39b4b !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: 600;
}